$chineseEggplant: #A28BD9;
$schoolBus:       #FFD900;
$agingCilantro:   #9FC439;
$cranberry:       #D64564;
$skyBlue:         #78cae6;
$light_gray:      #E6E6E6;
$cream:           #FFFFCC;
$arsenic:         #40494D;
$tornadoGray:     #647278;

@function longTextShadow($color:$arsenic, $length:20) {
 
  $result:1px 1px 1px rgba($color,1);

  @while $length > 0 {
    $result: #{$result}, #{$length}px #{$length}px 1px rgba($color,1);
    $length: $length - 1;
  }
  @return $result
}
   

* {
    box-sizing: border-box;
}
html, body{
    min-height: 100%;
}
body{
    background:$light_gray;
    color:$arsenic;
    font-family: "Helvetica Neue"
}

#fretboard{
    position:relative;
    margin:2em 0;
    float:left;
    width:90%;
    color:$arsenic;
    background: #FFFFFF;
    min-width: 600px;
    margin: 0 5%;
    border-top:5px solid;
    border-right:5px solid;
    border-bottom:5px solid;
    
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
    user-select: none; 
}

#fretboard .string{
    overflow: hidden;
    cursor: col-resize;
    border-bottom:1px solid;
    float:left;
    width:100%;
    margin:0;
    padding:0;
    
}


#fretboard .ui-wrapper{
    float:left;
    clear:left;
    position: relative; 
    text-align: center;   
    top:3px;
}

#fretboard .ui-wrapper i{
    position: absolute;
    cursor: pointer;
    left:-10px;
    width:20px;
    height: 20px;
    z-index: 1;
    border-radius: 50%;
    color: white;
    font-style: normal;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    line-height: 17px;
    cursor: pointer;
    
}


#fretboard .ui-wrapper i.delete{
   top:3px; 
   background: $cranberry;
   transform: rotate(45deg) scale(1);
   transition: transform, 200ms;
}

#fretboard .ui-wrapper i.add{
   top:30px; 
   background: $agingCilantro;
   transform: scale(1);
   transition: transform, 200ms;
}
#fretboard .ui-wrapper i.delete:hover{
    transform: rotate(45deg) scale(1.2);
    transition: transform, 200ms;
} 
#fretboard .ui-wrapper i.add:hover{
    transform: scale(1.2);
    transition: transform, 200ms;
}

#fretboard .fret-wrapper{
        float:left;
        width:8.333%;
        border-right:1px solid;
}
#fretboard .fret{
    width: 100%;
    min-height:60px;
    float:left;
    
    position: relative; 
    overflow: hidden;
}

#fretboard .fret:first-of-type{
  border-right-width:5px;
  border-right-style: solid;  
}
#fretboard .fret:last-of-type{
  
  border-right-style: none;  
}

#fretboard .fret.active{
    background: $tornadoGray;
}

#fretboard .note{
    cursor: pointer;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:40px;
    height:40px;
    line-height:40px;
    border-radius: 50%;    
    z-index: 1;
    color:#40494D;
}

#fretboard .fret.active > .note{
    color:$cream;
    background: $arsenic;
    span{
        overflow: hidden;
        display: block;
        position: absolute;
        width: 100%;
        border-radius: 50%;
        text-shadow: longTextShadow(darken($arsenic,3%));
    }
}

#fretboard .fret.active > .note:before{
    position: absolute;
    content: "";
    z-index: -1;
    width:100px;
    height:40px;
    left:50%;
    background: linear-gradient( 90deg, darken($arsenic, 10%),$tornadoGray);
    transform-origin: 0 50%;
    transform: rotate(45deg)
}

#fretboard .fret.active > .note:after{
    position: absolute;
    content: "";
    z-index: -1;
    width:40px;
    height:40px;
    border-radius: 50%;
    left:0;
    background: $arsenic;  
}

#fretboard .fret.unison > .note:after, 
#fretboard .fret.octave > .note:after  { background: $cranberry;}
#fretboard .fret.unison > .note span, 
#fretboard .fret.octave > .note span   { text-shadow:longTextShadow( darken($cranberry, 10%));}
#fretboard .fret.third > .note:after   { background: $skyBlue; }
#fretboard .fret.third > .note span    { text-shadow:longTextShadow( darken($skyBlue, 10%)); }
#fretboard .fret.fifth > .note:after   { background: $agingCilantro; }
#fretboard .fret.fifth > .note span    { text-shadow: longTextShadow( darken($agingCilantro, 10%)); }
#fretboard .fret.seventh > .note:after { background: $chineseEggplant; }
#fretboard .fret.seventh > .note span  {  text-shadow: longTextShadow( darken($chineseEggplant, 10%)); }
